{% extends "base.html" %}

{% block script %}
  <script type="module" src="{{ url_for('static', filename='admin.js') }}"></script>
{% endblock %}

{% block content %}
<main>
    <div class="card">
        <h2>Ajouter une source</h2>
        <form>
            <div class="input-block">
                <label for="url">URL du sitemap</label>
                <input required ="text" name="url" id="url" placeholder="https://journal/sitemap_news.xml" />
            </div>
            <button type="button" id="add-source-btn">Ajouter</button>
        </form>
    </div>

    <div class="card">
        <h2>Sources abonnées</h2>
        <div id="source-list"></div>
    </div>

    <div class="card">
        <h2>Minuterie</h2>
        <form class="input-group" method="POST" action="/admin/timer">
            <div class="input-block">
                <label for="interval">Intervalle</label>
                <input type="number" name="interval" id="interval" value="6" min="1" />
            </div>
            <div class="input-block">
                <label for="unit">Unité</label>
                <select name="unit" id="unit">
                    <option value="hours">Heures</option>
                    <option value="days">Jours</option>
                </select>
            </div>
            <button type="submit">Enregistrer</button>
        </form>
    </div>
</main>
{% endblock %}