{% extends "base-consultation.html" %}

{% block script %}
  <script type="module" src="{{ url_for('static', filename='list.js') }}"></script>
{% endblock %}

{% block subcontent %}
  <main>
    <form class="card" id="filter">
      <h1>Filtres de recherche</h1>
      <div class="input-group">
        <div class="input-block">
          <label for="source">Source:</label>
          <select name="source" id="source"></select>
        </div>

        <div class="input-block">
          <label for="date-start">De:</label>
          <input type="date" id="date-start" name="date-start">
        </div>

        <div class="input-block">
          <label for="date-end">À:</label>
          <input type="date" id="date-end" name="date-end">
        </div>

        <div class="input-block">
          <label for="keywords">Mots-clés:</label>
          <input type="text" id="keywords" name="keywords" placeholder="économie">
        </div>
      </div>

      <button type="button" id="search-btn">Rechercher</button>
    </form>

    <div id="article-list"></div>
  </main>
{% endblock %}